@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* You can add global styles to this file, and also import other style files */

@layer base {
    :root {

      --color-background-light: #F8F8F8;
      --color-background-dark: #010127;
      --color-content-light: #ffffff;
      --color-content-gray: #374151;
      --color-content-dark: #000000;
      --color-primary: #C35214;
      --color-recipe-card-overlay: 52 52 52;
      --color-primary-highlight: #E26310;
      --color-accept: #2bc917;
      --color-reject: #d70b0b;
      --color-delete: #B9261C;
      --color-delete-highlight: #DC2626;
      transition-duration: 1s;

    }

    @media (prefers-color-scheme:dark) {
        :root {

            --color-background-light: #010127;
            --color-background-dark: #010127;
            --color-content-light: #000000;
            --color-content-gray: #e5e7eb;
            --color-content-dark: #ffffff;
            --color-primary: #C35214;
            --color-recipe-card-overlay: 52 52 52;
            --color-primary-highlight: #E26310;
            --color-accept: #2bc917;
            --color-reject: #d70b0b;
            --color-delete: #B9261C;
            --color-delete-highlight: #DC2626;
            transition-duration: 1s;

          }
    }

      :root[data-theme="dark"] {

            --color-background-light: #010127;
            --color-background-dark: #010127;
            --color-content-light: #000000;
            --color-content-gray: #e5e7eb;
            --color-content-dark: #ffffff;
            --color-primary: #C35214;
            --color-recipe-card-overlay: 52 52 52;
            --color-primary-highlight: #E26310;
            --color-accept: #2bc917;
            --color-reject: #d70b0b;
            --color-delete: #B9261C;
            --color-delete-highlight: #DC2626;
            transition-duration: 1s;

        }

        :root[data-theme="light"] {

            --color-background-light: #F8F8F8;
            --color-background-dark: #010127;
            --color-content-light: #ffffff;
            --color-content-gray: #374151;
            --color-content-dark: #000000;
            --color-primary: #C35214;
            --color-recipe-card-overlay: 52 52 52;
            --color-primary-highlight: #E26310;
            --color-accept: #2bc917;
            --color-reject: #d70b0b;
            --color-delete: #B9261C;
            --color-delete-highlight: #DC2626;
            transition-duration: 1s;
      
        }
  }